@model IEnumerable<TiendaVirtual.Models.LineaPedido>

@{
    ViewBag.Title = "Cart";
    double costeTotal = 0;
}

<div class="render_body">
    <h2>Cart</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Producto.Precio) unidad
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Producto.Precio) total
            </th>
            <th>
                Operaciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Precio) €
                </td>

                <td>
                    @{
                        double total = item.Cantidad * item.Producto.Precio;
                        costeTotal += total;
                    }
                    @total €
                </td>
                <td style="display:flex; flex-direction:row;">
                    <button type="button" class="btn btn-info" style="display:flex; justify-content:center; align-items:center; padding:5px; margin-right:10px;">
                        <a href="Categorias/CategoryProductsDetails/@item.Producto.Id" style="text-decoration:none; border: none; display:flex; justify-content:center; align-items:center; color: white;">
                            <span class="material-icons" style="color: white;">
                                create
                            </span>
                        </a>
                    </button>
                    <button type="button" class="btn btn-danger" style="display:flex; justify-content:center; align-items:center; padding:5px;">
                        <a href="/CarritoCompra/Delete/@item.Id" style="text-decoration:none; border: none; display:flex; justify-content:center; align-items:center; color: white;">
                            <span class='material-icons'>
                                delete_forever
                            </span>
                        </a>
                    </button>

                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <p><b>Total:</b></p> @Html.DisplayFor(modelItem => costeTotal) €
            </td>
            <td>
                @if (Model.Count() > 0)
                {
                    <button type="button" class="btn btn-success">@Html.ActionLink("Confirmar pedido", "Create", "Pedidoes", null, new { @style = "color: white; text-decoration:none;" })</button>
                }
            </td>
        </tr>

    </table>

    <a href="/Categorias/CategoryProducts/1">Seguir comprando</a>

</div>


