@model IEnumerable<TiendaVirtual.Models.LineaPedido>

@{
    ViewBag.Title = "Cart";
    var lastCategoryId = 1;
}

<h2>Cart</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Producto.Precio) unidad
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Producto.Precio) total
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Producto.Precio) €
            </td>

            <td>
                @{
                    double total = item.Cantidad * item.Producto.Precio;
                }
                @total €
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<a href="/Categorias/CategoryProducts/1">Seguir comprando</a>
@Html.ActionLink("Pagar", "Create", "Pedidoes")


    


