@model IEnumerable<TiendaVirtual.Models.Producto>

@{
    ViewBag.Title = "CategoryProducts";
}

<div class="render_body">
    @if (Model.Count() > 0)
    {
        <h2>@Model.First().Categoria.Nombre</h2>

        <div id="html-item-pagination" style="height: 700px;">
            @foreach (var item in Model)
            {
                <div class="hip-item">
                    <div>
                        <div class="thumbnail" style="padding: 0; height: 250px;">
                            <div class="caption text-center" style="display: flex; flex-direction:column; justify-content:space-between; padding: 8px; height:100%;">
                                <div class="position-relative">
                                    @if (item.Cantidad > 0)
                                    {
                                        <img src="@Html.DisplayFor(modelItem => item.Imagen)" width="60%" style="max-height: 120px;" />
                                    }
                                    else
                                    {
                                        <img src="https://www.doralopez.net/uploads/8/3/0/5/8305084/agotado_orig.png" style="max-height: 120px;" width="60%" />
                                    }

                                </div>
                                <div class="hip-item">
                                    <h4 id="thumbnail-label" style="font-size: 1.5vw;">@Html.ActionLink(item.Nombre, "CategoryProductsDetails", "Categorias", new { id = item.Id }, null)</h4>
                                </div>
                                <div class="caption card-footer text-center">
                                    <ul class="list-inline">
                                        <li style="font-size: 0.7vw;"><i class="people lighter"></i>&nbsp;Stock: @Html.DisplayFor(modelItem => item.Cantidad)</li>
                                        <li></li>
                                        <li style="font-size: 0.7vw;"><i class="glyphicon glyphicon-credit-card lighter"></i> @Html.DisplayFor(modelItem => item.Precio)€</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h2>Categoría vacía</h2>
    }
</div>
