@using TiendaVirtual.Models;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Lato", sans-serif;
        }

        body, html {
            height: 100%;
            color: #777;
            line-height: 1.8;
        }

        .dl-horizontal dd {
            margin: 0;
        }

        p {
            margin: 0;
        }

        /* Create a Parallax Effect */
        .bgimg-1, .bgimg-2, .bgimg-3 {
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .a-btn {
            padding: 10px 20px;
            background-color: #333;
            border-radius: 0;
            transition: .2s;
            color: white;
        }

            .a-btn:hover {
                color: #333;
                border: 1px solid #333;
                background-color: #fff;
            }

            .hip-search {
                padding-top: 0;
            }

        /* First image (Logo. Full height) */
        .bgimg-1 {
            background-image: url('http://vendeenamazon.net/wp-content/uploads/2018/02/comprarparavender.png');
            min-height: 100vh;
        }

        /* Second image (Portfolio) */
    .bgimg-2 { background-image: url("https://images.pexels.com/photos/5632386/pexels-photo-5632386.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); min-height: 400px; }

        /* Third image (Contact) */
    .bgimg-3 { background-image: url("https://images.pexels.com/photos/6444/pencil-typography-black-design.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); min-height: 400px; }

        .w3-wide {letter-spacing: 10px;}
        .w3-hover-opacity {cursor: pointer;}

        .w3-xxlarge w3-text-white w3-wide {
            color: darkslategrey;
            text-align: center;
        }

        #wrapper {
            position: relative;
            min-height: 90%;
        }

        #footer {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .container {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        .render_body{
            padding: 40px 20vw 30px 20vw;
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top w3-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="padding:10px; margin-right: -5px;" class="navbar-brand" href="/"><img src="https://cdn.shopify.com/s/files/1/0272/7002/1185/files/logotienda_bb5157c8-9b2b-45c2-b4c1-9916002c7c3d_1200x1200.png?v=1588816258" width="130px" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        VirtualShopModelContainer db = new VirtualShopModelContainer();

                        foreach (Categoria item in db.Categorias)
                        {
                            <li>@Html.ActionLink(item.Nombre, "CategoryProducts", "Categorias", new { id = item.Id }, null)</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style="margin: 0 auto;">
            @RenderBody()
        </div>
        <div id="wrapper">
            <div id="footer">
                <footer class="w3-center w3-black w3-padding-64">
                    <div class="w3-xlarge w3-section">
                        <i class="fa fa-facebook-official w3-hover-opacity"></i>
                        <i class="fa fa-instagram w3-hover-opacity"></i>
                        <i class="fa fa-snapchat w3-hover-opacity"></i>
                        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                        <i class="fa fa-twitter w3-hover-opacity"></i>
                        <i class="fa fa-linkedin w3-hover-opacity"></i>
                    </div>
                    <p>&copy;Copyright 2021</p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/llxx-lord-xxll/html-item-pagination/lib/hip.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $("#html-item-pagination").hip({ itemHeight: '300px', itemsPerPage: 16, filter: true, filterPos: 'center' });
        });
        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }

        // Used to toggle the menu on small screens when clicking on the menu button
        function toggleFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
</body>
</html>
