@model TiendaVirtual.Models.Factura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Usuario
        </dt>

        <dd>
            @User.Identity.Name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio) del pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio) €
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
